body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.main {
  top: 0;
  position: sticky;
  z-index: 999;
}

.info-panel {
  display: flex;
  justify-content: space-around;
  align-items: last baseline;
  background-color: #017878;
  color: white;
  padding: 10px;
  padding-bottom: 10px;
}

.watermark {
  aspect-ratio: 1 / 1;
  width: 50px;
  margin-top: 10px;
  margin-right: 5px;
}

.timer, .team {
  text-align: center;
}

.timer {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

#word-submitted {
  font-size: 1rem;
  margin-top: 5px;
}

#game-timer {
  font-size: 2rem;
  font-weight: bold;
}

#countdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px 60px;
  border-radius: 30px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 100;
  justify-content: center;
  text-align: center;
}

.mode-status {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  height: 75vh;
  font-size: 2rem;
  text-align: center;
}

#input-view {
  min-width: 200px;
  max-width: 100%;
  padding: 10px 20px;
  height: auto;
  margin-top: 15px;
  border: 2px dashed #000;
  background-color: rgba(240, 240, 240, 0.5);
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  color: #444;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}


.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.row-keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.key-button {
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  background-color: #a3d376;
  color: white;
  border: none;
  border-radius: 12px;
  transition: all 0.1s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.key-button:disabled {
  background-color: #ccc;
  color: #888;
}

.key-button.pressed {
  transform: scale(0.95);
  background-color: #83b157;
}

.key-button.pressed-false {
  animation: validOrInvalid 0.4s ease-out;
  background-color: #fd6f6f;
}

.key-button.valid {
  animation: validOrInvalid 0.4s ease-out;
  background-color: #83b157;
}

@keyframes validOrInvalid {
  0% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}